.Absolute-Center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  flex-direction:column;
}


#signature {
  width: 450px;
  margin: 20px 0px;
  color: darkgray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

i {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  padding-top:5px;
}

#start_stop:hover, #reset:hover, #break-increment:hover, #break-decrement:hover, #session-increment:hover, #session-decrement:hover {
  box-shadow: 3px 3px 3px darkgray; 
}

#break-block {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  justify-items: center;
}

#break-label{
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 5px;
}

#break-length {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  border: 1px solid black;
  border-radius: 5px;
  width: 80px;
  padding-top:4px;
  background-color: whitesmoke;
}

#break-increment {
  grid-row-start: 2;
  grid-column-start:3;
  margin: 0px;
}

#break-decrement {
  grid-row-start: 2;
  grid-column-start:4;
  margin: 0px;
}

#session-block {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  justify-items: center;
}

#session-label{
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 5px;
}

#session-length {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  border: 1px solid black;
  border-radius: 5px;
  width: 80px;
  padding-top:4px;
  background-color: whitesmoke;
}

#session-increment {
  grid-row-start: 2;
  grid-column-start:3;
  margin: 0px;
}

#session-decrement {
  grid-row-start: 2;
  grid-column-start:4;
  margin: 0px;
}

#clock {
  display: block;
}

#ctrl-panel{
  display: flex;
  gap: 3px;
}

#start_stop, #reset {
  width: 68px;
  height: 68px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  padding-top:20px;
  font-size: 24px;
}

#timer {
  width: 100%;
  word-wrap:break-word;
  font-family: LCD, sans-serif;
  font-size:150px;
  padding: 10px;
  margin: 7px 0;
  background: rgb(84, 131, 160); ;
  color:  lightgray;
  border-radius: 5px;
  letter-spacing: 0.3rem
}

#timer-label{
  font-size: 28px !important;
}
.font-red {
  color: orange;
}
